<?xml version="1.0" encoding="UTF-8"?>

<web-app>

	
	<servlet>
		<servlet-name>Insert</servlet-name>
		<servlet-class>Insert</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Insert</servlet-name>
		<url-pattern>/Insert</url-pattern>
	</servlet-mapping>

	
	<servlet>
		<servlet-name>Search</servlet-name>
		<servlet-class>Search</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/Search</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Data</servlet-name>
		<servlet-class>Data</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Data</servlet-name>
		<url-pattern>/Data</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Error</servlet-name>
		<servlet-class>Error</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Error</servlet-name>
		<url-pattern>/Error</url-pattern>
	</servlet-mapping>

</web-app>
